#include <Arduino.h>

// led
const int INDLED = D4;

// relay connect
const int RELAY = D1;

// pop3 mail server
const String server = <server> ;
const int port = <port, 110 for pop3>;
const String user = <user>;
const String password = <password>;
